*{
    box-sizing: border-box;
    margin: 0;
    pad: 0;   
}

body{
    background-color: #edefef
}
.head-title{
    vertical-align: middle;
    font-size: 35px;
    font-weight: bold;
}

.head-logo{
    vertical-align: middle;
}

.head-sect{
    padding: 10px 10px 10px 20px;
    background-color: white;
}

.container{
    width: 780px;
    margin: auto;
    background-color: white;
    padding-left: 50px;
}

.add-task{
    background-color: rgb(16, 133, 133);
}

.span-part{
    border-bottom: 1px solid lightgray;
}

.sec1{
    padding-top: 20px;
}

.tutti-1{
    font-weight:lighter;
    font-size: small;
}

.title-div{
    margin-bottom: 5px;
    
}

.spunta-cerch{
    width: 100px; /*inutile*/
    border: 1px solid rgb(60, 168, 141);
    border-radius: 50px;
}

.edit1{
    font-size: small;
}

.sez-div{
    margin-bottom: 35px;
}

.edit2{
    font-size: small;
    color: white;
    font-weight: lighter;
    background-color: rgb(126, 195, 241);
    border-radius: 15px;
    padding: 10px;
    display: inline-block;
    
}