*{
    box-sizing: border-box;
    margin: 0;
    pad: 0;   
}

body{
    background-color: #edefef
}
.head-title{
    vertical-align: middle;
    font-size: 35px;
    font-weight: bold;
}

.head-logo{
    vertical-align: middle;
}

.head-sect{
    padding: 10px 10px 10px 20px;
    background-color: white;
}

.container{
    width: 780px;
    margin: auto;
    background-color: white;
}

.add{
   padding: 10px; 
}